<head>
	<title>Update 24X7 - Sports</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
<!--===============================================================================================-->
</head>
<body>

	<!--Nav bar-->
		  <div class="container">
			<nav class="navbar nav-pills fixed-top">
				<div class="collpase navbar-collapse" id="collapsibleNavbar">
					<ul class="nav nav-pills nav-justified">
						<li class="nav-item border">
							<a class="nav-link" href="/">Update 24X7</a>
						</li>
						<li class="nav-item border">
							<a class="nav-link" href="/home">Home</a>
						</li>
						<li class="nav-item border">
							<a class="nav-link"  href="/sports">Sports</a>
						</li>
						<li class="nav-item border">
							<a class="nav-link"  href="/contactus">Contact Us</a>
						</li>
						<li class="nav-item border">
							<a class="nav-link" href="/aboutus">About Us</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
		<!--Nav Bar end-->
        <br/><br/><br/><br/>
        <div class="card-deck">
            <div class="card">
              <img class="card-img-top" src="/images/sport1.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">
                    Out of the Spotlight, Colleges Try to Scrape Together a Sports Season</h5>
                <p class="card-text">This is the collegiate student-athlete experience in fall 2020, one that is as dizzying as it is disproportionate. Since March, college sports on every ....</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">10 hours ago</small>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="../images/sport2.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">A Grip on Sports: Yes, it's nice to have college football back</h5>
                <p class="card-text">A GRIP ON SPORTS • Some of us like college football. It's a grand sport with cool Saturdays and all, but it isn't No. 1 in our hearts. Nope, that ....</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">3 hours ago</small>
              </div>
            </div>
            <div class="card">
              <img class="card-img-top" src="../images/sport3.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Sports world pays tribute to Australian star Jacinda Barclay</h5>
                <p class="card-text">Tributes have been paid to Jacinda Barclay, a multi-sport Australian athlete who has died aged 29. Barclay played Australian rules in ....</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">7 hours ago</small>
              </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="../images/sport4.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Section III high school sports schedule</h5>
                  <p class="card-text">Section III high school sports schedule for Oct. 14. Posted Oct 14, 2020. Jamesville-DeWitt vs Baldwinsville - Boys Soccer - October 9, 2020. J-D's Ryan Brazell ....</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">5 hours ago</small>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="../images/sport5.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">High School sports are scheduled to resume in December</h5>
                  <p class="card-text">Woodhouse and commissioners from football, basketball and baseball officials associations expressed cautious optimism that high school sports ....</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">5 hours ago</small>
                </div>
              </div>
              <div class="card">
                <img class="card-img-top" src="../images/sport6.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Nashville is becoming COVID-19 capital of the American sports world</h5>
                  <p class="card-text">To those seeking a better understanding of COVID-19 outbreaks, Nashville's sports community would be a fertile starting point. There are ....</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">3 hours ago</small>
                </div>
              </div>
          </div>




        <footer>
            <div class="text-center">@copyrights 2020 </div>
        </footer>
        
    
    
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/daterangepicker/moment.min.js"></script>
        <script src="vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
        <script src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
        <script src="js/main.js"></script>

     
    </body>
    </html>
